<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConEmu.Control.WinForms" version="1.0.20160518.0" targetFramework="net45" />
  <package id="ConEmu.Core" version="16.6.19.0" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.3.0" targetFramework="net45" developmentDependency="true" />
</packages>