<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConEmu.Control.WinForms" version="1.0.20160407.0" targetFramework="net45" />
  <package id="ConEmu.Core" version="16.4.16.0" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.2.2" targetFramework="net45" developmentDependency="true" />
</packages>