#menu .brand {
  font-weight: normal;
  font-size: 1.3em;
  margin: 0;
}
h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
  color: #3b8bba;
}
dt {
  font-style: italic;
}
img {
  max-width: 100%;
}
.content table {
  border-collapse: collapse;
  margin-top: 1em;
  border: 1px solid #cbcbcb;
}
.content table td,
.content table th {
  padding: 0.33em 0.66em;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
}
.content table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.content table thead {
  background-color: #e0e0e0;
  color: #000;
}
.content table thead td,
.content table thead th {
  border-bottom: 1ps solid #cbcbcb;
}
.list-item-description:before {
  content: "\00A0\2013\00A0";
}
article.teaser h2 {
  text-align: left;
  margin-left: 160px;
  font-weight: normal;
  font-size: 1.75em;
  transition: margin-left 0.2s ease-out;
  -webkit-transition: margin-left 0.2s ease-out;
}
.teaser-icon {
  clear: left;
  float: left;
  width: 130px;
  text-align: center;
  font-size: 128px;
  transition: font-size 0.2s ease-out;
  -webkit-transition: font-size 0.2s ease-out;
}
.teaser-text {
  margin-left: 160px;
  transition: margin-left 0.2s ease-out;
  -webkit-transition: margin-left 0.2s ease-out;
}
.teaser-text p:last-of-type {
  margin-bottom: 0;
}
.teaser-follow-up {
  text-align: right;
}
@media (max-height: 48em) {
  #menu {
    width: 165px;
  }
}
@media (max-width: 48em) {
  .list-item-description:before {
    content: "";
  }
  .list-item-description {
    display: block;
  }
  article.teaser h2 {
    margin-left: 120px;
  }
  .teaser-icon {
    font-size: 96px;
  }
  .teaser-text {
    margin-left: 120px;
  }
}
@media (max-width: 30em) {
  .list-item-description {
    display: none;
  }
  article.teaser h2 {
    margin-left: 0;
    margin-top: 0em;
    text-align: center;
  }
  .teaser-icon {
    float: none;
    text-align: center;
    margin: 1em 0;
    font-size: 64px;
  }
  .teaser-text {
    margin-left: inherit;
  }
}
.button-ico {
  font-size: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25em;
}
.setup-download-button {
  font-weight: bold;
  float: right;
}
a.setup-download-button {
  text-decoration: none;
}
.work-in-progress-warning {
  font-style: italic;
}
